{
    "presets": [
        ["env", {
            "targets": {
                "node": true
            }
        }]
    ],
    "plugins": [
        "syntax-dynamic-import",
        "syntax-async-functions"
    ]
}